aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
astor
async-timeout
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
distro
duckdb
exceptiongroup
faiss-cpu
Faker
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
idna
importlib_resources
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
matplotlib
mpmath
multidict
mypy-extensions
narwhals
networkx
numpy
openai
orjson
packaging
pandas
pandasai
pillow
plotly
propcache
protobuf
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
scipy
seaborn
six
smmap
sniffio
sounddevice
SQLAlchemy
sqlglot
sqlglotrs
streamlit
sympy
tenacity
tiktoken
toml
torch
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
zipp
zstandard
